.auth-form-wrapper {
    background-color: rgba(255, 255, 255);
    width: 450px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
}

.auth-form-title {
    margin: 10px 0;
    padding: 0;
    font-family: Raleway-Black;
    font-size: 30px;
    /* color: #333; */
    color: #d33f8d;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
}

.auth-form-title--success {
    color: #11df64;
    font-family: Raleway-Black;
    font-size: 20px;
}

.auth-form-error {
    color: red;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form-redirect {
    margin-top: 20px;
    font-style: italic;
}
.auth-form-redirect-message {
}
.auth-form-redirect-link {
    margin-left: 5px;
    color: blue;
    text-decoration: none;
}
